~$_KI-2023-vyvoj_softveru-bm_Vrtak_Martin_v2.docx
~*
Aplikacia/WIW_Google_Earth/app/build/intermediates/annotation_processor_list/debug
Aplikacia/WIW_Google_Earth/app/build/intermediates/data_binding_base_class_log_artifact
Aplikacia/WIW_Google_Earth/app/build/intermediates/apk_ide_redirect_file
Aplikacia/WIW_Google_Earth/app/build/intermediates/desugar_graph
Aplikacia/WIW_Google_Earth/app/build/intermediates/data_binding_layout_info_type_merge
Aplikacia/WIW_Google_Earth/app/build/intermediates/app_metadata
Aplikacia/WIW_Google_Earth/app/build/intermediates/compatible_screen_manifest
Aplikacia/WIW_Google_Earth/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar
Aplikacia/WIW_Google_Earth/app/build/intermediates/data_binding_layout_info_type_package
Aplikacia/WIW_Google_Earth/app/build/intermediates/dex
Aplikacia/WIW_Google_Earth/app/build/intermediates/incremental
Aplikacia/WIW_Google_Earth/app/build/intermediates/javac
Aplikacia/WIW_Google_Earth/app/build/intermediates/merged_java_res
Aplikacia/WIW_Google_Earth/app/build/intermediates/merged_res
Aplikacia/WIW_Google_Earth/app/build/intermediates/merged_manifest
Aplikacia/WIW_Google_Earth/app/build/intermediates/manifest_merge_blame_file
Aplikacia/WIW_Google_Earth/app/build/intermediates/local_only_symbol_list
Aplikacia/WIW_Google_Earth/app/build/intermediates/dex_number_of_buckets_file
Aplikacia/WIW_Google_Earth/app/build/intermediates/dex_archive_input_jar_hashes
Aplikacia/WIW_Google_Earth/app/build/intermediates/merged_manifests
Aplikacia/WIW_Google_Earth/app/build/intermediates/merged_res_blame_folder
Aplikacia/WIW_Google_Earth/app/build/intermediates/navigation_json
Aplikacia/WIW_Google_Earth/app/build/intermediates/packaged_manifests
Aplikacia/WIW_Google_Earth/app/build/intermediates/packaged_res
Aplikacia/WIW_Google_Earth/app/build/intermediates/processed_res
Aplikacia/WIW_Google_Earth/app/build/intermediates/project_dex_archive
Aplikacia/WIW_Google_Earth/app/build/intermediates/apk/debug/output-metadata.json
Aplikacia/WIW_Google_Earth/app/build/intermediates/runtime_symbol_list
Aplikacia/WIW_Google_Earth/app/build/intermediates/signing_config_versions
Aplikacia/WIW_Google_Earth/app/build/intermediates/stable_resource_ids_file
Aplikacia/WIW_Google_Earth/app/build/intermediates/symbol_list_with_package_name
